<hgroup>
  <div class="header_bio">
      <div class="profile_pic">
        {% img /images/me.png 125 Paul Silvis %}
      </div>
      <div class="right_bio">
        <div class="title"><a href="{{ root_url }}/">{{ site.title }}</a></div>
        <ul class="quick_stats">
          <li class="position">
              <a href="http://github.com/pws5068">Developer</a> 
              at 
              <a href="https://Sincerely.com">Sincerely, Inc.</a>
          </li>
          <li class="skillset"><a href="http://www.linkedin.com/profile/view?id=81444615&trk=tab_pro">Web Engineer</a></li>
          <li class="hobby">Rock Climber</li>
        </ul>
      </div>
  </div>
  <!--<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>-->
  <!--
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
-->
</hgroup>
