// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.about_me {
  padding-right: 10px;
  float: left;
}
.about_me img {
  -moz-box-shadow: 3px 3px 4px #F1F1F1;
  -webkit-box-shadow: 3px 3px 4px #F1F1F1;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  width: 50px;
}