// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@mixin border_plain {
  border: 1px solid #4C3C1B;
  padding: 5px;
  background-color: #DDD;
}
.profile_pic {
  float: left;
  @include border_plain;
}
.right_bio {
  margin-left: 30px;
  float: left;
  color: #999;
  ul { 
    font-size: 15px;
    li: {
      line-height: 1.5em;
    }
  }
  a {
    text-decoration: none;
    color: #BFBFBF;
  }
  a:hover{
    color: #FFF;
  }
}
a { 
  color: #258FB8; 
  text-decoration: none;
  outline-width: 0;
}